.navbar {
  background-color: #000 !important;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  background-color: lightgray;
}

.navbar .dropdown-menu {
  margin-top: 0;
}
.navbar-nav .nav-link:hover {
  color: #000;
  background-color: #d0c8c8;
}
.navbar-brand:hover {
  color: #000;
  background-color: #d0c8c8;
}
.navbar-nav .dropdown-menu li:hover > .dropdown-item {
  background-color: #bdc1c6;
}
.navbar i {
  color: #fff !important;
}
.navbar .btn:hover {
  background-color: rgb(240, 64, 24);
}
