* {
  overflow-x: hidden;
}
.navbar {
  background-color: #000 !important;
  z-index: 1 !important;
  position: fixed;
  width: 100%;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block !important;
  margin-top: 0 !important;
  background-color: lightgray;
}

.nav-item .dropdown-menu {
  display: none;
  margin-top: 0;
}
.navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-nav .nav-link:hover {
  color: #000 !important;
  background-color: #d0c8c8;
}
.navbar-brand:hover {
  color: #000;
  background-color: #d0c8c8;
}
.navbar-nav .dropdown-menu li:hover > .dropdown-item {
  background-color: #bdc1c6;
}
.navbar i {
  color: #fff !important;
}
.navbar .btn:hover {
  background-color: rgb(240, 64, 24);
}
.the-band__photos {
  margin: 5% !important;
  gap: 10% !important;
  margin-bottom: 15% !important;
}
#tour-dates {
  padding-bottom: 20% !important;
}
#tour-dates i {
  color: rgb(173, 172, 172) !important;
}
.tour-dates__tickets {
  color: #827f7f;
  width: 100%;
}
.sold-out {
  color: #fff;
  background-color: rgb(222, 55, 55);
  margin-left: 2% !important;
}
.november__3 {
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  margin-left: 80%;
}
.buy-tickets__section {
  background-color: #fff;
}
.contact__info {
  width: 50%;
}
.bottom-photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 100%;
}
.icons:hover {
  color: #b0aeae !important;
}
.modal-header {
  background-color: rgb(27, 152, 115) !important;
}
.pay-button {
  background-color: rgb(27, 152, 115) !important;
  border: none !important;
}
.pay-button:hover {
  color: #000 !important;
  background-color: #b0aeae !important;
}
.close-button:hover {
  color: #000 !important;
  background-color: #b0aeae !important;
}
